<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hyjt.home">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".mvp.ui.activity.MeetingLogActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.MeetingListActivity"
            android:screenOrientation="portrait" />

        <!-- glide配置 -->
         <!--<meta-data -->
         <!--android:name="com.hyjt.frame.widget.imageloader.glide.GlideConfiguration" -->
         <!--android:value="GlideModule" /> -->

        <meta-data android:name="com.hyjt.frame.widget.imageloader.glide.GlideConfigurationg"
            tools:node="remove"/>


        <!-- GlobalConfiguration -->
        <meta-data
            android:name="com.hyjt.home.GlobalConfiguration"
            android:value="ConfigModule" />

        <activity
            android:name=".mvp.ui.activity.MeetingEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.WaitSolveListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.LongSolveListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SuperviseSolveListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".mvp.ui.activity.CreateMtActivity" />
        <activity
            android:name=".mvp.ui.activity.ImageViewerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.StaffListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CreateStaffActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.StaffMsgActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.AddressBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BlocNoticeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BNoticeEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.EmailListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BNoticeCreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.EmailDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.EmailCreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.SkipReportListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SkipReportDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.SkipReportCreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.SLConsultListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SLConsultCreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.SLConsultEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.ReportTopListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ReportTopDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.ReportTopCreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.ContributeIdeaListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ContributeIdeaDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.ContributeIdeaCreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.LaborUnionReqsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.LaborUnionReqsDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.LaborUnionReqsCreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.PsonLoanListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.PsonLoanCreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.PsonLoanEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.ToCompLoanListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ToCompLoanCreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.ToCompLoanEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity android:name=".mvp.ui.activity.ApplyExpenseListActivity" />
        <activity android:name=".mvp.ui.activity.ApplyExpenseCreateActivity" />
        <activity android:name=".mvp.ui.activity.ApplyExpenseEditActivity"></activity>
    </application>

</manifest>